---
layout: index
title: leejoohee - MarkupDesigner
---

<h2>About</h2>
<ul>
	<li>HTML5(Markup) / CSS / SASS</li>
	<li>웹표준/접근성, 크로스브라우징 / RWD</li>
	<li>Domscript, jquery</li>
	<li>template-Dust.js</li>
</ul>

<h2>issue</h2>
<ul>
	{% for post in site.categories.issue %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
</ul>

<h2>css</h2>
<ul>
	{% for post in site.categories.css %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
</ul>


<h2>aria-practices</h2>
	<ul>
		<li><a href="https://www.w3.org/TR/wai-aria-practices-1.1/" target="_blank">https://www.w3.org/TR/wai-aria-practices-1.1/</a></li>
		<li><a href="https://github.com/w3c/aria-practices" target="_blank">https://github.com/w3c/aria-practices</a></li>
		<li><a href="/img/rdf_model.png" target="_blank">rdf_model</a></li>
	</ul>

<!--
<h2>AMP</h2>
<ul>
	{% for post in site.categories.AMP %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
</ul>
-->
<!--
<h2>a11y</h2>
<ul>
	{% for post in site.categories.a11y %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
</ul>
-->


