body{

	font: 14px "맑은 고딕", sans-serif;
	line-height: 1.9em;
	text-align: left;
	padding: 0 1.5em;
	color: #333;
}

a{
    color:#333;;
    text-decoration: none;
}
a:hover{
    color: #7f0019;;
    text-decoration: underline;
}



h1, h2{color: #566b77; font-weight: 100;}

h1{ margin-bottom: 60px; }


::selection {
 background: #7f0019;
 color: #fff;
}
