body{ 

	font: 14px "맑은 고딕", sans-serif;
		line-height: 1.9em;
		text-align: left;
	padding: 0 1.5em;
	color: #444;
}

a{color:#680;}

h1, h2{color: #566b77; font-weight: 100;}

a{text-decoration: none;}
a:hover{text-decoration: underline;}

::selection {
 background: rgb(229, 255, 136);
 color: #000;
} 